<div class="backgrd">
    <div class="section_box left: 122px top: 78px">
    </div>
</div>


<div class="top_bar">
</div>

<div class="but_bar">
</div>




<%= link_to 'hello word', products_path %>