// Place all the styles related to the main_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_bar {
    position: absolute;
    width: 1440px;
    height: 149.4px;
    left: 0px;
    top: 0px;
    background: #000000;
}

.but_bar {
    position: absolute;
    width: 1440px;
    height: 334.05px;
    left: 0px;
    top: 1714px;
    background: #000000;
}